/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// SEARCH
#search {
    
    .mat-form-field {
        width: 100%;

        .mat-form-field-underline {
            background-color: green;
        }

        mat-label {
            color: green;
        }
    }

    .search-btn {
        background-color: transparent;
        border: none;
    }
}

// ERROR MESSAGE
#error-message {
    color: red;
    white-space: pre-wrap;
}

// VIDEO LIST
#video-list-scroll {
    height: 80vh;
    width: 100%;

    #video-list {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        
        :hover {
            ::-webkit-scrollbar {
                background-color: inherit;
            }
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px,
                        rgba(0, 0, 0, 0.17) 0px 12px 13px,
                            rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    
        #video-list-card {
            :hover {
                box-shadow: initial;
                cursor: pointer;
            }
            background-color: transparent;
            color: green;

            mat-card-title {
                font-size: medium;
            }

            mat-card-subtitle {
                color: inherit;
            }
        }
    }
}

#video {
    .player > iframe {
        width: 100%;
        height: 65vh;
    }

    .video-info {
        color: green;
    }
}
